# Env / secrets
.env
cms/.env.local
*.local

# Node
node_modules/
cms/.next/
cms/out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds / caches
foundation/emulator/arcturus/target/
*.log

# OS
.DS_Store
Thumbs.db
